* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(28, 28, 58);
}

section {
  width: 100%;
  height: 80vh;
}
.s1 {
  background-color: rgb(54, 54, 114);
  background-image: url("https://source.unsplash.com/1920x1079");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.s2 {
  background-color: rgb(0, 255, 179);
  background-image: url("https://source.unsplash.com/1920x1076");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s3 {
  background-color: rgb(0, 174, 255);
  background-image: url("https://source.unsplash.com/1920x1075");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s4 {
  background-color: rgb(255, 136, 0);
  background-image: url("https://source.unsplash.com/1920x1074");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.goTopButton i {
  font-size: 16px;
  color: #fff;
}
.goTopButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: rgb(28, 28, 58);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.goTopButton.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  bottom: 20px;
}

.preloader {
  background: white url(images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

@media (max-width: 768px) {
  .preloader {
    background-size: 50%;
  }
}

@media (max-width: 425px) {
  .preloader {
    background-size: 90%;
  }
}
@media (max-width: 320px) {
  .preloader {
    background-size: 110%;
  }
}
